:root {
  /*&  ----- Farmhouse Fizz Brand Colors ----- */
  --carbon-black: #1E1E1E;
  --molten-lava: #7A0A0A; /* primary color */
  --almond-cream: #E5D6C5; /* neutral color */
  --steel-blue: #4A7B9D;
  --deep-walnut: #5A3E2B;
  /*&  ----- Farmhouse Fizz Brand Colors ----- */

}
