.faq {
  display: flex;
  flex-direction: column;
  gap: var(--op-space-small);
  max-width: calc(175 * var(--op-size-unit));
  margin: 0 auto;
  padding: var(--op-space-2x-large) var(--op-space-large) var(--op-space-3x-large);
}

@media (max-width: 620px) {
  .faq .accordion summary {
    padding: var(--op-space-small) var(--op-space-medium);
  }

  .faq .accordion .accordion__label {
    font-size: var(--op-font-medium);
  }
}
