.info-content {
  max-width: calc(225 * var(--op-size-unit));
  margin: auto;
  padding: var(--op-space-large);

  .info-content__heading {
    margin-top: var(--op-space-large);
    font-size: var(--op-font-2x-large);
    font-weight: var(--op-font-weight-bold);
  }

  .info-content__heading + .info-content__text {
    margin-top: var(--op-space-x-small);
  }

  .info-content__text {
    padding-bottom: var(--op-space-small);
    font-size: var(--op-font-large);
    line-height: var(--op-line-height-loose);
  }

  .info-content__details-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  details[open] .info-content__details-list {
    padding: var(--op-space-2x-large) calc(12.5 * var(--op-size-unit));
    font-size: var(--op-font-large);
    background-color: var(--op-color-neutral-plus-max);
    border-radius: var(--op-radius-x-large);
  }
}
