.legal-doc {
  max-width: calc(200 * var(--op-size-unit));
  margin: auto;
  padding: var(--op-space-large);

  .legal-doc__title {
    margin-bottom: var(--op-space-x-small);
    text-align: center;
  }

  .legal-doc__heading {
    font-size: var(--op-font-large);
    font-weight: var(--op-font-weight-bold);
  }

  .legal-doc__heading + .legal-doc__text {
    margin-top: var(--op-space-x-small);
  }

  .legal-doc__text {
    padding-bottom: var(--op-space-medium);
    font-size: var(--op-font-medium);
    line-height: var(--op-line-height-loose);
  }

  a {
    color: var(--op-color-primary-base);
  }
}
