.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  padding: var(--op-space-large);
  margin: auto;

  .not-found__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--op-space-medium);
    width: 100%;
    max-width: calc(120 * var(--op-size-unit));
    margin: var(--op-space-small);
    padding: var(--op-space-2x-large) var(--op-space-large);
    text-align: center;
    background-color: var(--op-color-neutral-plus-six);
    border-radius: var(--op-radius-2x-large);
  }

  .not-found__code {
    font-family: var(--op-font-family-alt);
    font-size: var(--op-font-4x-large);
    color: var(--op-color-primary-base);
  }

  .not-found__title {
    margin: 0;
    font-family: var(--op-font-family-alt);
    font-size: var(--op-font-x-large);
  }

  .not-found__text {
    margin: 0;
    color: var(--op-color-neutral-on-plus-eight-alt);
    line-height: var(--op-line-height-base);
  }
}
