.notice-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: var(--op-space-2x-small);
  margin-top: var(--op-space-2x-small);

  .notice-list__group {
    display: flex;
    gap: var(--op-space-2x-small);
    padding: var(--op-space-2x-small) var(--op-space-x-small);
    background: var(--op-color-neutral-plus-eight);
    border: var(--op-border-width) solid var(--op-color-neutral-plus-four);
    border-radius: var(--op-radius-large);
  }

  .notice-list__item {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--op-space-x-small);
    color: var(--op-color-on-background);
    background: var(--op-color-neutral-plus-eight);
    border-radius: var(--op-radius-circle);
    transition: color 0.15s ease, transform 0.15s ease, background 0.15s ease;

    &:hover {
      color: var(--ff-color-secondary-base);
      transform: translateY(-2px) scale(1.05);
    }

    &.notice-list__item--active {
      color: var(--ff-color-accent-base);
      background: var(--op-color-neutral-plus-max);
    }
  }

  .notice-list__icon {
    height: calc(7 * var(--op-size-unit));
    width: auto;
  }
}

@media (max-width: 1000px) {
  .notice-list .notice-list__icon {
    height: var(--op-space-x-large);
  }
}
