.popover {
  position: absolute;
  bottom: calc(100% + var(--op-space-small));
  left: 50%;
  display: none;
  min-width: max-content;
  padding: var(--op-space-x-small) var(--op-space-small);
  overflow-wrap: break-word;
  font-size: var(--op-font-x-small);
  font-weight: var(--op-font-weight-medium);
  line-height: var(--op-line-height-dense);
  letter-spacing: 0.25px;
  color: var(--op-color-neutral-on-minus-seven);
  text-align: center;
  white-space: normal;
  background: var(--op-color-neutral-minus-seven);
  border-radius: var(--op-radius-x-large);
  box-shadow: var(--op-shadow-x-large);
  transform: translateX(-50%) scale(0.96);
  pointer-events: none;
  z-index: var(--op-z-index-tooltip);

  &.popover--open {
    display: block;
    transform: translateX(-50%) scale(1);
  }
}

@media (max-width: 1000px) {
  .popover {
    min-width: 0;
  }
}
