.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--op-space-x-small);

  .social-links__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: calc(11 * var(--op-size-unit));
    height: calc(11 * var(--op-size-unit));
    background: var(--op-color-neutral-plus-six);
    border-radius: var(--op-radius-pill);
    transition: transform var(--op-transition-input);

    &:hover {
      transform: translateY(-4px);
    }
  }
}

@media (max-width: 720px) {
  .social-links .social-links__link {
    width: calc(10 * var(--op-size-unit));
    height: calc(10 * var(--op-size-unit));
  }
}
