/* Define global CSS variables, like main colors and body stuff that should be present as a default */

:root {
  /* gb = global, specific to this project */
  --gb-primary-color: var(--molten-lava);
  --gb-secondary-color: var(--steel-blue);
  --gb-background: var(--almond-cream);
  --gb-text-color: var(--carbon-black);
  --gb-text-alt-color: var(--almond-cream);
  --gb-accent-color: var(--deep-walnut);
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-VariableFont_wght.ttf') type('ttf');
  font-display: 'Special Elite';
}

html, body {
  /* overflow-x: hidden; */
  max-width: 100%;
}

body {
  background-color: var(--gb-background);
  color: var(--gb-text-color);
  overflow-y: auto;
  height: auto;
  font-family: 'Lora', Arial, Helvetica, serif;
}

.page-title {
  text-align: center;
  margin-top: 15px;
  font-size: 3em;
  font-family: 'Special Elite', 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
  color: var(--molten-lava)
}

a:hover { text-decoration: underline; }

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

@media (max-width: 765px) {
  .page-title {
    font-size: 2em;
    padding: 0 15px;
  }
}
