.btn {
  transition: background-color var(--op-transition-input), color var(--op-transition-input), box-shadow var(--op-transition-input), transform var(--op-transition-input);

  &:hover {
    transform: translateY(calc(-1 * var(--op-space-3x-small)));
  }

  &:active {
    transform: translateY(0);
  }
}
